@import url(//fonts.googleapis.com/css?family=Telex);

body {
	background: #f2f2f2;
}

th[scope=row] {
	width: 25%;
}

h1, h2, h3, h4, h5, h6 {
	color: #4870A2;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

/** Buttons & Colors **/

.btn-info {
	color: #fff;
	background-color: #5F7FAA;
	border-color: #4870A2;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-infoactive {
	color: #fff;
	background-color: #4870A2 !important;
	border-color: #4870A2;
}

.btn-info .label-info {
	background: #fff;
	color: #4870A2;
}

.btn-success {
	color: #fff;
	background-color: #7BB33D !important;
	border-color: #4CAE4C;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-successactive {
	color: #fff;
	background-color: #73a839 !important;
	border-color: #73a839;
}

.btn-success .label-success {
	background: #fff;
	color: #7BB33D;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
	color: #fff;
	background-color: #D2322D !important;
	border-color: #D2322D;
}

.btn-danger .label-danger {
	background: #fff;
	color: #D9534F;
}

tr.success {
	border-left: 2px solid #27ae60;
}

tr.warning {
	border-left: 2px solid #f39c12;
}

tr.danger {
	border-left: 2px solid #e74c3c;
}

tr.info {
	border-left: 2px solid #3498db;
}

/** Container margin fix **/

.row .row {
	margin-right: 0;
	margin-left: 0;
}

/** Navbar **/

.navbar {
	background-color: #4870A2;
	border: 0;
	border-bottom: 4px solid #5F7FAA;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 48px;
	padding: 0;
}
.navbar-inner {
	min-height: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

.navbar .btn-navbar {
	background-color: #2FA3E6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #fff;
	display: none;
	float: right;
	padding: 7px 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar-nav > .dropdown > a .caret,
.navbar-nav > .dropdown > a:hover .caret,
.navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #fff;
}

.navbar-header {
	padding: 0;
}

.navbar .navbar-brand {
	background: #5F7FAA;
	font-family: 'Telex', sans-serif;
	margin: 0;
	padding: 14px 24px;
}
.navbar .navbar-brand {
	color: #fff;
	display: block;
	float: left;
	font-size: 20px;
	font-weight: 200;
}

.navbar .navbar-nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.navbar .navbar-nav.pull-right {
	float: right;
	margin-right: 0;
}

.navbar-nav > li > a {
	color: #fff;
	float: none;
	padding: 14px 15px 14px 15px;
	text-decoration: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > .current > a,
.navbar-nav > .current > a:hover,
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
	background-color: #295183;
	color: #fff;
	text-decoration: none;
}


.subnavbar {
	background-color: #2C3E50;
	line-height: 48px;
	margin-bottom: 2em;
	min-height: 48px;
}

.subnavbar .navbar-collapse {
	padding: 0;
}

.subnavbar .navbar {
	background: transparent;
	border: 0;
}

.subnavbar li:not(.active) .subnavbar-nav {
	display: none;
}

.subnavbar .subnavbar-nav li {
	list-style: none;
}

.subnavbar .subnavbar-nav li a:hover {
	background-color: #ADB8C5 !important;
	color: #fff;
	padding: 16px 15px;
}

/** Tabs **/

.tab-pane {
	background: #fff;
	border: 1px solid #ddd;
	margin-left: 0px;
	padding: 0.5em 1.5em;
}

/** Dashbox **/

.dashbox {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	margin: 0 0 1em 0;
	min-height: 64px;
	padding: 0.75em 1em;
}

.dashbox-report {
    margin-left: 0 !important;
}

.dashbox-stats .divide {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.dashbox-stats .stats {
    color: #4870A2;
    padding-top: 0.5em;
}

.dashbox-logs {
    font-size: 0.8em;
}

/** Footer **/

.footer {
	background-color: #2c3e50;
	color: #fff;
	margin-top: 6em;
	padding: 1em 0 0 0;
}